# /src/
/src/bin/
/src/obj/
/src/CasparCGFrontend.suo

# /src/CasparCGFrontend/
/src/CasparCGFrontend/bin/
/src/CasparCGFrontend/obj/
/src/CasparCGFrontend/CasparCGFrontend.suo
/src/CasparCGFrontend/CasparCGFrontend.csproj.user

/Server/